.input-button-wrapper {
    position: relative;
    height: 70px;
    padding: 0 20px - 1px;
    color: #3b3649;
    line-height: 70px - 2px;
    background: #f2f2f2;
    cursor: pointer;
    transition: color 0.3s, background 0.3s, border-color 0.3s;
    display: flex;
    box-sizing: border-box;
    margin: 20px 6px;
}

.input-button-wrapper-span {
    margin: auto;
    padding: 0 10px;
}

.input-button {
    -webkit-appearance: none;
    display: block;
    width: 0;
    height: 0;
    margin-left: 0;
    pointer-events: none;
}

.input-button-wrapper-disabled {
    cursor: not-allowed;
}

.input-button-wrapper-not-answer {
    color: lightgray;
}

.input-button-wrapper-checked {
    border: solid 6px var(--input-button-border-color-selected);
    margin:  20px 0;
}

.input-button-wrapper-correct {
    border: solid 6px var(--input-button-border-color-correct);
    margin: 20px 0;
}

.input-button-wrapper-incorrect {
    border: solid 6px var(--input-button-border-color-incorrect);
    margin: 20px 0;
}

.input-button-wrapper-right-answer {
    border: solid 6px var(--input-button-border-color-selected);
    margin: 20px 0;
}
